@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Nunito:wght@500;900&display=swap');

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.caption {
  @apply sm:font-semibold tracking-wider text-purple uppercase;
}

.buttons-wrapper {
  @apply w-full flex flex-wrap justify-end gap-4;
}

.button {
  @apply whitespace-nowrap justify-self-start font-semibold text-s sm:text-m h-max py-2 px-4 rounded-full transition;
  &--column {
    @apply mr-4 bg-primaryPurple text-white hover:opacity-70 rounded-tr-none;
  }
  &--board {
    @apply mr-4 bg-primaryGreen text-white rounded-tr-none hover:opacity-70;
  }
  &--back {
    @apply text-grey hover:bg-off-white rounded-tr-none underline -ml-4 hover:text-purple;
  }
  &--cancel {
    @apply whitespace-nowrap text-black font-semibold py-2 px-4 rounded-full hover:bg-grey;
  }
  &--task {
    @apply flex items-center gap-2 py-1 -ml-3 text-primaryPurple font-semibold text-s hover:bg-white;
  }
  &--delete {
    @apply bg-red text-white rounded-bl-none;
  }
  &--delete-profile {
    @apply text-red rounded-bl-none self-end hover:bg-red hover:opacity-70 hover:text-white;
  }
  &--add {
    @apply text-white rounded-tr-none;
  }
  &--update {
    @apply text-white rounded-tr-none;
  }
  &--signin {
    @apply bg-primaryViolet text-white rounded-tr-none max-w-full w-full text-center;
  }
  &--dropdown {
    @apply text-xs uppercase font-medium text-black rounded-tr-none max-w-full w-full text-left hover:bg-off-white;
  }
  &--logout {
    @apply text-primaryViolet;
  }
}

.header {
  @apply sticky top-0 text-left bg-white z-40 transition-all;
  &-container {
    @apply container mx-auto w-full py-6 flex flex-wrap gap-y-6 justify-between items-center;
  }
  &__user {
    @apply text-grey;
  }
}

.logo {
  @apply flex gap-4;
  &__text {
    @apply font-heading font-black uppercase h-11 md:text-logo text-l;
  }
}

.dropdown {
  @apply relative self-center;
  &__content {
    @apply absolute right-4 mt-3 z-10 flex flex-col justify-start gap-3 p-3 bg-white border-off-white border-2 rounded rounded-tr-none;
  }
}

.section {
  &__title {
    @apply text-l sm:text-xl md:text-2xl font-heading font-black;
    &--main {
      @apply text-3xl;
    }
  }
  &__description {
    @apply sm:text-s font-normal;
  }
  &__header {
    @apply flex justify-between mx-auto container items-start flex-col sm:flex-row;
    &--columns {
      @apply xs:min-w-xs sm:min-w-sm md:min-w-md l:min-w-l xl:min-w-xl 2xl:min-w-2xl;
    }
  }
}

.boards {
  &-list {
    @apply flex flex-wrap gap-4 justify-start;
  }
}

.board {
  &__item {
    @apply bg-off-white rounded max-w-board-xs w-board-xs 2xl:max-w-board-xl 2xl:w-board-xl l:max-w-board-l l:w-board-l md:max-w-board-m md:w-board-m sm:max-w-board-s sm:w-board-s;
  }
  &__link {
    @apply p-6 block;
  }
  &__title {
    @apply font-semibold text-l truncate;
  }
  &__description {
    @apply h-8 truncate;
  }
}

.columns-list {
  @apply px-4 flex gap-4 w-full overflow-x-auto justify-items-stretch pb-4 relative;
  &::-webkit-scrollbar {
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
  }
}

.column {
  @apply p-5 w-60 sm:w-72 flex flex-col gap-y-4 rounded-3xl bg-off-white overflow-hidden;
  &__title {
    @apply font-semibold text-s sm:text-l truncate;
  }
}

.tasks-list {
  @apply flex flex-col gap-2 w-full overflow-auto relative;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
  }
}

.task {
  @apply flex flex-col gap-2 bg-white rounded-3xl p-4;
  &__title {
    @apply font-semibold text-s sm:text-m truncate;
  }
  &__description {
    @apply truncate;
  }
  &__username {
    @apply truncate;
  }
  &__username-label {
    @apply truncate font-semibold;
  }
}

.task-modal {
  &__title {
    @apply font-semibold text-m;
  }
  &__username-label {
    @apply truncate font-semibold;
  }
  &__content-wrapper {
    @apply flex flex-col gap-4 basis-4/5;
  }
  &__assignee-wrapper {
    @apply flex flex-col gap-3;
  }
  &__username-wrapper {
    @apply flex gap-2;
  }
}

.form {
  @apply flex flex-col items-end gap-4;
  &__title {
    @apply font-semibold text-m self-start;
  }
}

.textarea {
  @apply pl-6 py-3 w-full text-base border border-solid border-grey rounded-full;
}

.label {
  @apply font-semibold;
}

.input {
  @apply pl-6 py-3 w-full text-base border border-solid border-grey rounded-full;
}

.footer {
  @apply px-20 text-center text-grey shadow-footer mt-auto;
  &-container {
    @apply container mx-auto w-full py-6 flex flex-wrap gap-y-6 justify-between items-center;
  }
}
